<!DOCTYPE html>
<html lang="en">

{% render "head.html", site: site, page: title %}

<body class="{{ bodyClassName }}">
    <div class="site--wrap">
        {% render "site-header.html", site: site %}

        <main class="site--content" aria-label="Content">
            {{ content }}
            {% include "section-league.html" %}
        </main>
        {% render "site-footer.html", site: site %}
    </div>
    <dialog id="lightbox">
        <form method="dialog">
            <button id="close-btn">✕</button>
        </form>
        <img src="" alt="" id="lightbox-img">
    </dialog>
    <script src="/js/index.js"></script>
</body>

</html>