<a class="card card--news flourish--link" href="{{ article.url }}" data-squad="{{ article.data.squad }}">
    <section class="card__header" style="background-image: url('/assets/images/news/{{ article.data.image }}');">
    </section>
    <section class="card__body">
        <header>
            <span class="squad">{% include 'icon.html', icon: article.data.squad %}</span>
            <h2> {{ article.data.title }}</h2>
            <p>{{ article.data.subtitle }}</p>
        </header>
        <p>{{ article.data.date | date: '%d %B %Y' }}</p>
        <p>{{ article.data.page.excerpt | strip_html }}</p>
    </section>
</a>