<section class="around-the-league">
    <div class="content--wrap">
        <h2>Around the league</h2>
        <ul class="squads">
            <li class="club club--afi">
                <a href="https://www.americanfootball.ie/">
                    <img src="" alt="" />
                    <span>American Football Ireland</span>
                </a>
            </li>
            {% for club in afiClubs.all %}
            <li class="club club--{{ club.id }}">
                <a href="{{ club.url }}">
                    <img src="" alt="" />
                    <span>{{ club.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>