<section class="squads">
    <div class="content--wrap">
        <h2>Squads</h2>
        <nav class="squads__grid">
            <a href="/squads/senior-kitted/" class="squads__grid__item flourish--link">
                <header class="squads__grid__item__header"
                    style="background-image: url('{{ '/assets/images/hero/hero-sk-01.png' | htmlBaseUrl }}');"></header>
                <section class="squads__grid__item__content">
                    <h3>Senior Kitted</h3>
                    <p>Full contact kitted football for adults aged 18+</p>
                </section>
            </a>
            <a href="/squads/womens-flag/" class="squads__grid__item flourish--link">
                <header class="squads__grid__item__header"
                    style="background-image: url('{{ '/assets/images/hero/hero-wf-01.png' | htmlBaseUrl }}');"></header>
                <section class="squads__grid__item__content">
                    <h3>Women's Flag</h3>
                    <p>Flag football for women aged 16+</p>
                </section>
            </a>
            <a href="/squads/youth-kitted/" class="squads__grid__item flourish--link">
                <header class="squads__grid__item__header"
                    style="background-image: url('{{ '/assets/images/hero/hero-yk-01.png' | htmlBaseUrl }}');"></header>
                <section class="squads__grid__item__content">
                    <h3>Youth Kitted</h3>
                    <p>Full contact kitted football for youth aged 15-18</p>
                </section>
            </a>
            <a href="/squads/mixed-flag/" class="squads__grid__item flourish--link">
                <header class="squads__grid__item__header"
                    style="background-image: url('{{ '/assets/images/hero/hero-mf-01.png' | htmlBaseUrl }}');"></header>
                <section class="squads__grid__item__content">
                    <h3>Mixed Flag</h3>
                    <p>Flag football for everyone aged 16+</p>
                </section>
            </a>
        </nav>
    </div>
</section>