<section class="sponsors">
    <div class="sponsors__content content--wrap">
        <h2>Sponsors</h2>
        <nav class="sponsors__grid">
            <a href="https://thekernangroup.online/" class="sponsors__grid__item sponsor--kernans flourish--link"
                title="Kernans">
                {% include 'sponsor-logo.html', sponsor: 'kernans' %}
            </a>
            <a href="https://www.facebook.com/theolddocks/"
                class="sponsors__grid__item sponsor--the-old-docks flourish--link" title="The Old Docks">
                {% include 'sponsor-logo.html', sponsor: 'the-old-docks' %}
            </a>
            <a href="https://www.instagram.com/campbells_bar/"
                class="sponsors__grid__item sponsor--campbells-bar flourish--link" title="Campbell's Bar">
                {% include 'sponsor-logo.html', sponsor: 'campbells-bar' %}
            </a>
            <a href="https://www.facebook.com/georgesbarderry/"
                class="sponsors__grid__item sponsor--georges-bar flourish--link" title="George's Bar">
                {% include 'sponsor-logo.html', sponsor: 'georges-bar' %}
            </a>
            <a href="https://www.facebook.com/p/ThebranchbarGrill-61575113522652/"
                class="sponsors__grid__item sponsor--the-branch-bar flourish--link" title="The Branch Bar">
                {% include 'sponsor-logo.html', sponsor: 'the-branch' %}
            </a>
            <a href="https://www.facebook.com/breadbuttermaydown/"
                class="sponsors__grid__item sponsor--bread-and-butter flourish--link" title="Bread &amp; Butter">
                {% include 'sponsor-logo.html', sponsor: 'bread-n-butter' %}
            </a>
            <a href="https://www.paolospizzas.com/" class="sponsors__grid__item sponsor--paolos-pizzas flourish--link"
                title="Paolos Pizzas">
                {% include 'sponsor-logo.html', sponsor: 'paolos-pizzas' %}
            </a>
            <a href="https://www.facebook.com/pickledduckcafe/?locale=en_GB"
                class="sponsors__grid__item sponsor--pickled-duck flourish--link" title="Pickled Duck">
                {% include 'sponsor-logo.html', sponsor: 'the-pickled-duck' %}
            </a>
            <a href="https://weederryshot.com/" class="sponsors__grid__item sponsor--wee-derry-shot flourish--link"
                title="Wee Derry Shot"></a>
            <a href="https://www.xfitgymderry.com/" class="sponsors__grid__item sponsor--xfit flourish--link"
                title="Xfit">
                {% include 'sponsor-logo.html', sponsor: 'xfit' %}
            </a>
        </nav>
    </div>
</section>