{% liquid
case page.url
when "/squads/senior-kitted/"
assign squad = "senior-kitted"
when "/squads/youth-kitted/"
assign squad = "youth-kitted"
when "/squads/womens-flag/"
assign squad = "womens-flag"
when "/squads/mixed-flag/"
assign squad = "mixed-flag"
else
assign squad = false
endcase
%}
{% if squad %}
<section class="players">
    <div class="players__content content--wrap">
        <h2>Players</h2>
        <nav class="players__grid">
            {% for player in squads[squad].roster %}
            <div class="players__grid__item">
                <header style="background-image: url('/assets/images/squad/sr-kitted/{{ player.id }}.png');">
                </header>
                <section>
                    <p class="players__grid__item__number">{{ player.number }}</p>
                    <p class="players__grid__item__name">{{ player.firstName }} {{ player.lastName }}</p>
                    <p class="players__grid__item__position">{{ player.position }}</p>
                </section>
            </div>
            {% endfor %}
        </nav>
    </div>
</section>
{% endif %}