<section class="around-the-league">
    <div class="content--wrap">
        <h2>Around the league</h2>
        <ul class="squads">
            <li class="club club--afi">
                <a class="flourish--link" href="https://www.americanfootball.ie/"
                    style="background-image: url('{{ site.baseurl }}/assets/afi-logos/afi.png');"
                    title="American Football Ireland">
                </a>
            </li>
            {% for club in afiClubs.all %}
            <li class="club club--{{ club }}">
                <a class="flourish--link" href="{{ afiClubs.profile[club].url }}"
                    style="background-image: url('{{ site.baseurl }}/assets/afi-logos/{{ club }}.png');"
                    title="{{ afiClubs.profile[club].name }}">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>