{% assign today = "now" | date: "%Y-%m-%d" %}
{% assign squad = page.url | split: "/" | last %}
{% echo squad %}
<section class="schedule">
    <div class="schedule__content content--wrap">
        <h2>Upcoming Schedule</h2>
        <nav class="schedule__grid">
            {% for item in collections.match %}
            {% assign match_date = item.data.date | date: "%Y-%m-%d" %}
            {% if match_date > today %}
            <div class="schedule__grid__item">
                <header>
                    <p class="schedule__grid__item__date">{{ item.data.date | date: "%d %b" }}</p>
                    <p class="schedule__grid__item__year">{{ item.data.date | date: "%Y" }}</p>
                    <p class="schedule__grid__item__time">{{ item.data.time }}</p>
                </header>
                <section>
                    <p class="schedule__grid__item__squad">{{ item.data.squad }}</p>
                    <p class="schedule__grid__item__opponent">{{ item.data.opponent }}</p>
                    <p class="schedule__grid__item__location"><i class="fa-solid fa-location-dot"></i> {{
                        item.data.location
                        }}</p>
                </section>
            </div>
            {% endif %}
            {% endfor %}
        </nav>
        <div class="schedule__footer">
            <a href="/schedule/">View Full Schedule</a>
        </div>
    </div>
</section>