<header class="site--header">
    <section class="content--wrap">
        <div class="site--header__logo">
            <a href="/" title="Home">
                <img src="/assets/logo/vipers-mark-light.svg" alt="Northwest Vipers">
                <span>Northwest Vipers</span>
            </a>
        </div>
        <nav class="site--header__nav">
            <ul>
                <li><a href="/squads/">Squads</a></li>
                <li><a href="/news/">News</a></li>
                <!-- <li><a href="/schedule/">Schedule</a></li> -->
                <li><a href="/about/">About</a></li>
                <!-- <li><a href="/sponsors/">Sponsors</a></li> -->
                <li><a href="/get-in-touch/">Get in touch</a></li>
            </ul>
        </nav>
    </section>
</header>