.flourish--link {
    border: 1px solid var(--core--color-ui-neutral-n020);
    transition: all 0.2s ease-out;
    cursor: pointer;

    &:hover {
        border-color: var(--core--color-ui-secondary-s090);
        box-shadow: var(--core--color-ui-neutral-n000) 2px 2px 6px;
        transform: translateY(-2px) translateX(2px);
    }
}