.around-the-league {
    padding: var(--core--spacing-4xl) 0;
    h2 {
        font: var(--sem--typo-headline-sm);
        text-transform: lowercase;
    }
    ul.squads {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: 80px;
        gap: var(--core--spacing-xl);
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            a {
                display: block;
                height: 100%;
                width: 100%;
                padding: var(--core--spacing-md);
                border-radius: var(--core--shape-radius-lg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                text-align: center;
                text-decoration: none;
                color: var(--sem--color-on-surface);
                font: var(--sem--typo-title-sm);
                background-color: oklch(from var(--sem--color-surface-container) l c h / 0.25);
            }
        }
        .club--afi {
            grid-column: 6  / span 2;
            grid-row: 1 / span 2;
        }
    }
}

@container contentWrap (max-width: 768px) {
    .around-the-league {
        ul.squads {
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: 60px;
            .club--afi {
                grid-column: 1  / span 1;
                grid-row: 1 / span 2;
            }
        }
    }
}

@container contentWrap (max-width: 480px) {
    .around-the-league {
        ul.squads {
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 48px;
            .club--afi {
                grid-column: 1  / span 2;
                grid-row: 1 / span 2;
            }
        }
    }
}