.faqs {
    padding: var(--core--spacing-4xl) 0;
    h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font: var(--sem--typo-headline-sm);
        text-transform: lowercase;
    }
}