.players {
    container-name: players;
    container-type: inline-size;
    padding: var(--core--spacing-4xl) 0;
    h2 {
        font: var(--sem--typo-headline-sm);
    }
}

.players__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--core--spacing-md);
    list-style: none;
    margin: 0;
    padding: 0;
}

.players__grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: oklch(from var(--core--color-ui-tertiary-t010) l c h / 0.25);
    border: 1px solid var(--core--color-ui-neutral-n020);
    border-radius: var(--core--shape-radius-md);
    overflow: hidden;
    p {
        margin: 0;
        padding: 0;
    }
    header {
        height: 100%;
        width: 80px;
        background-color: var(--core--color-ui-neutral-n030);
        background-size: cover;
        background-position: top;
    }
    section {
        display: flex;
        gap: var(--core--spacing-xl);
        flex-direction: row;
        align-items: center;
        justify-content: start;
        height: 100%;
        width: 100%;
        padding: 0 var(--core--spacing-2xl);
    }
}

.players__grid__item__number {
    width: 60px;
    font: var(--sem--typo-headline-sm);
    color: var(--core--color-ui-secondary-s080);
}

.players__grid__item__name {
    font: var(--sem--typo-title-md);
    font-weight: bold;
}

.players__grid__item__position {
    font: var(--sem--typo-title-sm);
    color: var(--core--color-ui-neutral-n060);
}

.players__footer {
    margin-top: var(--core--spacing-3xl);
    text-align: center;
    a {
        color: var(--core--color-ui-secondary-s080);
        text-decoration: none;
        &:hover {
            color: var(--core--color-ui-secondary-s060);
        }
    }
}

@container players (width < 1120px) {
    .players__grid {
        grid-template-columns: 1fr;
    }
}

@container players (width < 740px) {
    .players__grid {
        grid-template-columns: 1fr;
    }
}