.schedule {
    padding: var(--core--spacing-4xl) 0;
}

.schedule__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--core--spacing-md);
    list-style: none;
    margin: 0;
    padding: 0;
}

.schedule__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: left;
    color: var(--core--color-ui-neutral-n090);
    background-color: oklch(from var(--core--color-ui-tertiary-t010) l c h / 0.25);
    border: 1px solid var(--core--color-ui-neutral-n020);
    border-radius: var(--core--shape-radius-md);
    text-decoration: none;
    overflow: hidden;
    p {
        margin: 0;
        padding: 0;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: var(--core--spacing-md);
        align-items: center;
        height: 100%;
        width: 180px;
        padding: var(--core--spacing-lg);
        text-align: center;
        color: var(--core--color-ui-primary-p090);
        background-color: var(--core--color-ui-neutral-n030);
        font-feature-settings: "tnum";
    }
    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: var(--core--spacing-2xl);
        width: 100%;
        padding: var(--core--spacing-lg) var(--core--spacing-2xl);
    }
}

.schedule__item--upcoming {
    background-color: oklch(from var(--core--color-ui-tertiary-t010) l c h / 0.25);
}

.schedule__item--past {
    opacity: 0.5;
    &:hover {
        color: var(--core--color-ui-secondary-s099);
        background-color: var(--core--color-ui-neutral-n030);
        opacity: 1;
    }
}

.schedule__item__date {
    font: var(--sem--typo-title-md);
    font-weight: bold;
    white-space: nowrap;
}

.schedule__item__year {
    display: none;
}

.schedule__item__time {
    font: var(--sem--typo-body-sm);
}

.schedule__item__squad {
    flex: 1;
    font: var(--sem--typo-body-sm);
    cursor: pointer;
    &:hover{
        path {
            fill: var(--core--color-ui-secondary-s099);
        }
    }
}

.schedule__item__type {
    flex: 1;
    font: var(--sem--typo-body-sm);
}

.schedule__item__opponent {
    flex: 12;
    display: flex;
    align-items: center;
    gap: var(--core--spacing-xl);
    font: var(--sem--typo-title-md);
}

.schedule__item__opponent--logo {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.schedule__item__result {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--core--spacing-xl);
    font: var(--sem--typo-body-lg);
}

.schedule__item__match-report {
    flex: 4;
    font: var(--sem--typo-body-sm);
}

.schedule__item__location {
    flex: 4;
    font: var(--sem--typo-body-sm);
}

.schedule__footer {
    margin-top: var(--core--spacing-3xl);
    text-align: center;
    a {
        color: var(--core--color-ui-secondary-s080);
        text-decoration: none;
        &:hover {
            color: var(--core--color-ui-secondary-s060);
        }
    }
}

@container contentWrap (width < 860px) {
    .schedule__item {
        header {
            flex-direction: column;
        gap: var(--core--spacing-sm);
            height: auto;
            width: 140px;
        }
    }
    .schedule__item__opponent {
        flex: 1;
    }
    .schedule__item__opponent--name,
    .schedule__item__match-report {
        display: none;
    }
}