.schedule {
    container-name: schedule;
    container-type: inline-size;
    padding: var(--core--spacing-4xl) 0;
    h2 {
        font: var(--sem--typo-headline-sm);
    }
}

.schedule__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: var(--core--spacing-2xl);
    list-style: none;
    margin: 0;
    padding: 0;
}

.schedule__grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    text-align: left;
    background-color: oklch(from var(--core--color-ui-tertiary-t010) l c h / 0.25);
    border: 1px solid var(--core--color-ui-neutral-n020);
    border-radius: var(--core--shape-radius-xl) 0 var(--core--shape-radius-xl) 0;
    overflow: hidden;
    p {
        margin: 0;
        padding: 0;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 240px;
        padding: var(--core--spacing-lg);
        text-align: center;
        color: var(--core--color-ui-primary-p020);
        background-color: var(--core--color-ui-neutral-n080);
        font-feature-settings: "tnum";
    }
    section {
        width: 100%;
        padding: var(--core--spacing-lg) var(--core--spacing-2xl);
    }
}

.schedule__grid__item__date {
    font: var(--sem--typo-title-lg);
    font-weight: bold;
}

.schedule__grid__item__year {
    display: none;
}

.schedule__grid__item__squad {
    font: var(--sem--typo-body-sm);
}

.schedule__grid__item__opponent {
    font: var(--sem--typo-title-lg);
}

.schedule__footer {
    margin-top: var(--core--spacing-3xl);
    text-align: center;
    a {
        color: var(--core--color-ui-secondary-s080);
        text-decoration: none;
        &:hover {
            color: var(--core--color-ui-secondary-s060);
        }
    }
}

@container schedule (width < 860px) {
    .schedule__grid {
        grid-template-columns: 1fr;
    }
}