.sponsors {
    padding: var(--core--spacing-4xl) 0;
    background-color: oklch(from var(--core--color-ui-tertiary-t010) l c h / 0.25);
    h2 {
        font: var(--sem--typo-headline-sm);
    }
}

.sponsors__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--core--spacing-xl);
    list-style: none;
    margin: 0;
    padding: 0;
}

.sponsors__grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    min-width: 120px;
    max-width: 400px;
    background-color: var(--core--color-ui-neutral-n020);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--core--shape-radius-xl) 0 var(--core--shape-radius-xl) 0;
}

.sponsor--kernans {
    svg {
        height: 100%;
        width: 100%;
        .color-main {
            fill: #E1251C; /* #E1251C */
        }
    }
}

.sponsor--the-old-docks {
    svg {
        height: 100%;
        width: 100%;
        .color-main {
            fill: #FEFEFE; /* #FEFEFE */
        }
    }
}

.sponsor--georges-bar {
    svg {
        height: 100%;
        width: 100%;
        .color-main {
            fill: #FEFEFE; /* #FEFEFE */
        }
    }
}

.sponsor--campbells-bar {
    svg {
        height: 100%;
        width: 100%;
        .color-main {
            fill: #FEFEFE; /* #FEFEFE */
        }
    }
}

.sponsor--the-branch-bar {
    svg {
        height: 100%;
        width: 100%;
        .color-accent {
            fill: #DC8D48; /* #DC8D48 */
        }
        .color-main {
            fill: #FEFEFE; /* #FEFEFE */
        }
    }
}

.sponsor--bread-and-butter {
    svg {
        height: 100%;
        width: 100%;
        .color-accent {
            fill: #F8B202; /* #F8B202 */
        }
        .color-main {
            fill: #FEFEFE; /* #0C0C0C */
        }
    }
}

.sponsor--paolos-pizzas {
    svg {
        height: 100%;
        width: 100%;
    }
}

.sponsor--pickled-duck {
    svg {
        height: 100%;
        width: 100%;
        .color-main {
            fill: #FEFEFE; /* #313231 */
        }
    }
}

.sponsor--wee-derry-shot {
    background-image: url("/assets/images/sponsor/logo_Wee-Derry-Shot.png");
}

.sponsor--xfit {
    svg {
        height: 100%;
        width: 100%;
        .color-accent {
            fill: #B50105; /* #B50105 */
        }
        .color-main {
            fill: #FEFEFE; /* #000 */
        }
    }
}

@container contentWrap (max-width: 940px) {
    .sponsors__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@container contentWrap (max-width: 620px) {
    .sponsors__grid {
        grid-template-columns: 1fr 1fr;
    }
}